<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoshknight.androidavanzado_educacionit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".clases.Clase1Fragments" />
        <activity android:name=".activities.DetalleProductoActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".Clase3Activity"></activity>
        <activity android:name=".ServiceBindedActivity">
        </activity>
        <activity android:name=".IntegrityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.Temporizador" />
        <service android:name=".services.CronometroBinded" />
        <service android:name=".services.UsuariosService" />

    </application>

</manifest>